@use 'abstracts' as *;

.auth-form {
  @include flex-column(space(5));
  @include surface;
  @include bordered;

  width: 100%;
  max-width: 420px;
  box-shadow: shadow(pop);

  &__title {
    font-size: font-size(title);
    font-weight: font-weight(bold);
    color: var(--color-text);
  }

  &__link {
    font-weight: font-weight(semibold);
    color: var(--color-brand);
  }
}
