@use 'abstracts' as *;

@layer ui {
  .field {
    @include flex-column(space(2));

    font-size: font-size(meta);

    &--filter {
      @include muted-text(font-size(caption));

      flex: 1;
      gap: space(1);
      min-width: 130px;
    }
  }
}
