@use 'abstracts' as *;

@layer ui {
  .page {
    @include flex-column(18px);

    padding: space(5) space(4);
    max-width: 1680px;
    margin: auto;

    @include media-up(tablet-landscape) {
      padding: space(7) space(6);
      gap: space(6);
    }
  }
}
