@use 'abstracts' as *;

@layer ui {
  .text {
    &--muted {
      @include muted-text;
    }

    &--positive {
      color: var(--color-positive);
    }

    &--negative {
      color: var(--color-negative);
    }

    &--small {
      font-size: font-size(caption);
    }
  }
}
