@use 'abstracts' as *;

@layer ui {
  .description-list {
    margin: 0;

    &__row {
      @include flex-between(space(5));
      @include divided(space(3));
    }

    &__detail {
      margin: 0;
      text-align: right;
      overflow-wrap: anywhere;
    }
  }
}
