@use 'abstracts' as *;

@layer ui {
  .page {
    @include flex-column(space(4));

    width: 100%;
    max-width: size(content-max) + size(page-padding-wide) * 2;
    margin: 0 auto;
    padding: space(5) size(page-padding) space(10);

    @include media-up(tablet-landscape) {
      padding: space(7) size(page-padding-wide) space(12);
    }
  }
}
