@use 'abstracts' as *;

@layer ui {
  .color-picker {
    @include flex-row(space(2));

    flex-wrap: wrap;

    &__swatch {
      @include icon-size(26px);

      border-radius: radius(round);
      border: var(--border-width-focus) solid var(--color-surface);
      cursor: pointer;

      &--selected {
        outline: 3px solid var(--color-text);
      }
    }
  }
}
