@use 'abstracts' as *;

@layer ui {
  .sparkline {
    display: block;
    width: 100%;
    height: space(10);
    overflow: visible;

    &__line {
      fill: none;
      stroke: var(--sparkline-color);
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 2;
    }
  }
}
