@use 'abstracts' as *;

@layer ui {
  .form {
    @include flex-column(space(5));

    &__item {
      @include flex-column(space(2));
    }

    &__label {
      font-weight: font-weight(semibold);
      font-size: font-size(meta);
    }

    &__error {
      color: var(--color-negative);
      font-size: font-size(caption);
    }

    &__description {
      @include muted-text;
    }
  }
}
