@use 'abstracts' as *;

@layer ui {
  .metric-value {
    font-size: 32px;
    font-weight: 550;
    letter-spacing: -1px;
    line-height: 1.3;

    &--fluid {
      font-size: clamp(26px, 2.7vw, 38px);
    }
  }
}
